@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  padding-top: 48px;
  font-size: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* стили планшета от вертикального к ландшафтному */
@media screen and (min-width: 768px) {
  .lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 1280px;
    margin: 0 auto;
  }
}
