@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  padding-top: 48px;
  font-size: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* стили от малого смартфона к среднему */
@media all and (min-width: 321px) {
  .lead__title {
    width: calc( 100vw * .982 - 34px );
    font-size: calc( 12.5vw );
    line-height: calc( 12.5vw + 4px );
    margin: 0 auto calc( 3.5vw + 4px );
  }

  .lead__subtitle {
    width: calc( 100vw * .785 + 36px );
    font-size: calc( 100vw * .031 + 6px );
    line-height: calc( 100vw * .035 + 8px );
    margin: 0 auto calc( 100vw * .035 + 28px );
  }
}

/* стили планшета от вертикального к ландшафтному */
@media screen and (min-width: 768px) {
  .lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
    margin: 0 24px 32px;
  }

  .lead__subtitle {
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin: 0 64px 56px;
  }

  .lead__caption {
    align-self: flex-start;
    margin-left: 24px;
 }

  .lead__image {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    width: 928px;
    margin: 8px auto;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 1280px;
    margin: 0 auto;
  }

  .lead__image {
    min-width: 984px;
  }

  .lead__caption {
    width: 984px;
  }
}
