@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_cheked/header__lang-link_cheked.css);
@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
.header {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}
