@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_cheked/header__lang-link_cheked.css);
@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__menu-item/header__menu-item.css);

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 48px;
  }
}
