.lead__title {
  width: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin: 0 16px 16px;
}

/* стили от малого смартфона к среднему */
@media all and (min-width: 321px) {
  .lead__title {
    width: calc( 100vw * .982 - 34px );
    font-size: calc( 12.5vw );
    line-height: calc( 12.5vw + 4px );
    margin: 0 auto calc( 3.5vw + 4px );
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
    margin: 0 24px 32px;
  }
}
