.intro__text {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
color: #ffffff;
margin: 0 16px 32px;
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .intro__text {
    margin: 0 24px 32px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    width: 690px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    margin-left: 148px;
  }
}
