@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);


.cover {
  min-height: 200px;
  background-image: url(../../images/cover-trains.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

@media all and (min-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0 auto;
}
}

@media all and (min-width: 1184px) {
  .cover {
    max-width: 1184px;
    max-height: 740px;
    margin: 0 auto;
}
}
