@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);


.cover {
  min-height: 200px;
  background-image: url(../../images/cover-trains.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/* стили от малого смартфона к среднему */
@media all and (min-width: 321px) {
  .cover__overlay {
    padding: calc( 100vw * .183 - 25px ) 0;
  }

  .cover__title {
    width: calc( 100vw * .647 + 40px );
    font-size: calc( 8.9vw + 3.5px );
    line-height: calc( 9.1vw + 5px );
  }
}

/*вертикальный планшет */
@media all and (min-width: 768px) {
  .cover__overlay {
    min-height: 480px;
    padding: 115px 0;
  }

  .cover__title {
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }

  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media all and (min-width: 769px) {
  .cover__overlay {
    padding: calc( 100vw * .3125 - 125px ) 0;
  }
}

@media all and (min-width: 1024px) {
  .cover__overlay {
    padding: 195px 0;
  }

  .cover {
    max-width: 1024px;
    margin: 0 auto;
}
}

@media all and (min-width: 1184px) {
  .cover__overlay {
    padding: 245px 0;
  }

  .cover {
    max-width: 1184px;
    max-height: 740px;
    margin: 0 auto;
}
}
