@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__wedsite.css);
@import url(./__row/place__row.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__text/place__text.css);

.place {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 48px;
}

.place:last-of-type {
  padding-bottom: 0;
}


@media screen and (min-width: 768px) {
  .place {
    padding: 0 24px 72px;
  }
}

/*планшеты и ноутбуки*/
@media screen and (min-width: 1024px) {
  .place {
    padding: 0 48px 80px;
  }
}

/*широкие экраны */
@media screen and (min-width: 1280px) {
  .place {
    padding: 0 148px 80px;
  }
}
